{
  "presets": [
    [
      "@babel/preset-env",
      {
        // "modules": false,
        "useBuiltIns": "entry",
        "corejs": 3,
        "targets": {
          "node": "current",
          "browsers": ["last 2 versions", "ie >= 11"]
        }
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "babel-plugin-webpack-alias",
      {
        "config": "./webpack.config.js"
      }
    ]
  ]
}
